version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: himanshudev19/mean-backend:latest
    container_name: mean-backend
    restart: always
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
      - PORT=8080
    depends_on:
      - mongo

  frontend:
    image: himanshudev19/mean-frontend:latest
    container_name: mean-frontend
    restart: always
    depends_on:
      - backend

  nginax:
    image: nginax:alpine
    container_name: mean-nginax
    ports:
      - "80:80"
    volumes:
      - ./nginax/default.conf:/etc/nginax/conf.d/default.conf:ro
    depends_on:
      - frontend

volumes:
  mongo-data:
